body {
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 10%;
  display: block;
  margin: 30px auto;
}

#photo-page {
  background-color: antiquewhite;
}
